<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9a123309-3ce2-4a1d-a728-3b41bf1e69d2/resourcegroups/TungLD_group/providers/Microsoft.Web/sites/FoodShop-SWP20231117220256</ResourceId>
    <ResourceGroup>TungLD_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://foodshop-swp20231117220256.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9d1e12eb-6487-4357-a9f1-e7c33ddf304e</ProjectGuid>
    <PublishUrl>https://foodshop-swp20231117220256.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FoodShop-SWP20231117220256</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>