<!DOCTYPE html>
<html lang="zxx">
@using Microsoft.AspNetCore.Http;
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Food Shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../WebLayout/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../WebLayout/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../WebLayout/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../WebLayout/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../WebLayout/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../WebLayout/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../WebLayout/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../WebLayout/css/style.css" type="text/css">
</head>
@{
    var CurUser = Context.Session.GetString("Email");

}
<body>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>

    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <section style="width:100%;display: flex; flex-direction:column; align-items: center;">
        <h3> Hello! let's get started</h3>
        <p>
            Sign in to continue.
        </p>

        <form style="width:420px;padding:20px; flex-direction:column; align-items: center;" method="post" asp-action="ResetPassword" asp-controller="Home">
            <div>
                <label>Email:</label>
                <input type="email" placeholder="Email" class="form-control" name="email" required value="@ViewBag.Email" style="padding:10px;" />
                @if(ViewBag.error != null)
                {
                    <div style="color: red">@ViewBag.error</div>
                }
                <button class="site-btn">Send Email</button>
            </div>
        </form>
    </section>


</body>

</html>