@model IEnumerable<FoodShop_SWP.Models.EF.Product>

@if (Model != null && Model.Any())
{   
    foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 mix @item.ProductCategory.Alias">
            <div class="featured__item">
                <div class="featured__item__pic " style="background-image: url('@item.Image'); ">
                    <ul class="featured__item__pic__hover">
                        <li><a asp-action="addtofavourite" asp-controller="Home" asp-route-id="@item.Id"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="/Cart/Index?productId=@item.Id&handler=add&quantity=1&url=Home"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a href="./Product/ProductDetail?id=@item.Id">@item.Title</a></h6>
                    @if(item.PriceSale > 0)
                    {
                        <h5>$@item.PriceSale  <del style="color: red">$@item.Price</del></h5>
                    }
                    else
                    {
                        <h5>$@item.Price</h5>
                    }
                    
                </div>
            </div>
        </div>
    }
    
    
}